#searchBar {
    position: absolute;
    width: 320px;
    height: 40px;
    top: 10px;
    margin-left: 1%;
    font-size: 1em;
    box-shadow: 0 -9px 10px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    display: block;
    padding: 0 0.45rem;
    line-height: 1.5;
    color: #aeaeae;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #863564;
    border-radius: 0.25rem;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
#searchBar:focus{
  box-shadow: 0 0 10px #863564;
  border-color: transparent !important;
}
#sarchResult{
  position:absolute;
  top:50px;
  background-color:#ffffff;
  margin-left: 25.1%;
  border-radius: 0px 0px 4px 4px;
  overflow-y: auto;
  max-height: 25%;
}
#unorderdList {
  width: 190px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
}
.list-tm:hover {
  background-color: rgb(43, 187, 43);
  color: white;
}
.list-tm {
  position: relative;
  display: block;
  padding: .50rem 1rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0.2px solid rgba(0, 0, 0, .125);
  cursor: pointer;
}
.hideSearchBar{
  display: none;
}
.showSearchBar{
  display: block;
}

.results {
  position: absolute;
  z-index: 9999;
  top: 52px;
  left: 30px;
  background-color: #fff;
  overflow: auto;
  width: 296px!important;
  line-height: 30px;
  font-size: 16px;
}

.result {
  border: 5px solid #863564;
  border-top: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}
#resetMap {
  height: 40px;
  width: 50px;
  position: absolute;
  left: 355px;
  top: 12px;
}