<input (input)="onSearch($event)" type="text" id="searchBar" placeholder="Search! " required />
<!-- <button id="resetMap" (click)="getAll()">reset</button> -->
<div class="results">
    <div class="result" *ngFor="let result of searchResults" (click)="goToLocation(result)" style="cursor: pointer">
        <div *ngIf="result._source.ad">{{ result._source.ad }}</div>
        <div *ngIf="result._source.adres">{{ result._source.adres }}</div>
        <div *ngIf="result._source.telefon">{{ result._source.telefon }}</div>
    </div>
    <!-- <div class="result" *ngFor="let result of extentResults" style="cursor: pointer">
    <div *ngIf="result.dormitory_name">
      <b>Yurt adı</b>: {{result.dormitory_name}}
    </div>
    <div *ngIf="result.adres">
      <b>Adres:</b> {{result.adres}}
    </div>
    <div *ngIf="result.telefon">
      <b>Telefon:</b> {{result.telefon}}
    </div>
  </div> -->
</div>

<div id="popup" class="ol-popup">
    <!-- <a href="#" id="popup-closer" class="ol-popup-closer"></a> -->
    <div id="popup-content"></div>
</div>

<!-- <div class="result" *ngFor="let result of searchResults" (click)="goToLocation(result)" (mouseenter)="hover(result)" -->
