#searchBar {
    position: absolute;
    width: 320px;
    height: 40px;
    top: 10px;
    margin-left: 1%;
    font-size: 1em;
    box-shadow: 0 -9px 10px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    display: block;
    padding: 0 0.45rem;
    line-height: 1.5;
    color: #aeaeae;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #863564;
    border-radius: 0.25rem;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
#searchBar:focus{
  box-shadow: 0 0 10px #863564;
  border-color: transparent !important;
}
#sarchResult{
  position:absolute;
  top:50px;
  background-color:#ffffff;
  margin-left: 25.1%;
  border-radius: 0px 0px 4px 4px;
  overflow-y: auto;
  max-height: 25%;
}
#unorderdList {
  width: 190px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
}
.list-tm:hover {
  background-color: rgb(43, 187, 43);
  color: white;
}
.list-tm {
  position: relative;
  display: block;
  padding: .50rem 1rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0.2px solid rgba(0, 0, 0, .125);
  cursor: pointer;
}
.hideSearchBar{
  display: none;
}
.showSearchBar{
  display: block;
}

.results {
  position: absolute;
  z-index: 9999;
  top: 52px;
  left: 10px;
  background-color: #ffffffb8;
  overflow: auto;
  width: 334px!important;
  line-height: 30px;
  font-size: 12px;
  max-height: 90%;
}

.result:hover{
  background-color: #fff;
}
.result {
  border: 2px solid #863564;
  border-top: none;
  padding: 5px;
}
#resetMap {
  height: 40px;
  width: 50px;
  position: absolute;
  left: 355px;
  top: 12px;
}
.ol-popup {
  position: absolute;
  background-color: #ffffffb8;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

